.listItem {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  transition: background .3s ease-in-out;
}

.listItem:hover {
  background-color: #eee;
}

.listItem:last-child {
  border-bottom: none;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  margin-right: 1rem;
}

.text {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.title {
  font-weight: bold;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.description {
  font-size: 0.9rem;
  color: #666;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}